body{
    background-image: url(/images/restaurant.png);
    background-size: cover;
}

.contact{
    width: 35%;
    height: 350px;
    background-image: url(/images/white_wall_hash.png);
    text-align: center;
    left: 50%;
    top: 50%;
    margin: 10px;
    padding: 50px 60px 70px;
    transform: translate(-50%,-50%);
    position: absolute;
}

.head{
    align-self: center;
    font-weight: bold;

}

.credentials{
    border-radius: 15px;
    background: #eaeaea;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

input{
    outline: 0;
    border: 0;
    padding: 12px 10px;
    background: transparent;
    align-items: center;
}

.input-box i{
    margin:7px;
    color: #999;
}

.message{
    height: 90px;
}

button{
    border: 3px solid black;
    background: black;
    color: white;
    border-radius: 10px;

}

button:hover{
    background: white;
    color: black;
}

.link a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
    background: white;
    padding: 5px;
    font-weight: bold;
}

.link a:hover{
    background: black;
    color: white;
}